extends ../base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('/admin/users', 'Manage users', 'users', true)
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container(style="text-align:center;")
          h2.heading-secondary.ma-bt-md Users List
        
        .form__group.right
          a.btn.btn--small.btn--green(href='/admin/users/add')(style='margin-right:2.5%') Add new user

        table.content__table
            thead
              tr
                th(style="width: 5%;").cell-center Photo
                th(style="width: 30%") Name
                th(style="width: 30%") Email
                th(style="width: 10%;").cell-center Role
                th(style="width: 10%;").cell-center Active
                th(style="width: 15%;").cell-center Action
            tbody
              each u in users
                tr
                  td.cell-center
                    img.nav__user-img(src=`/img/users/${u.photo}` alt=`Photo of ${u.name}`)
                  td= u.name
                  td= u.email
                  td.cell-center= u.role
                  td.cell-center
                    if u.active == false
                      span.material-symbols-outlined toggle_off
                    else 
                      span.material-symbols-outlined.active-user toggle_on

                  td.cell-center.action-container
                    a.btn-action.btn-action--green(href=`/admin/users/${u._id}/edit`)
                      span.material-symbols-outlined edit
                    a.btn-delete-user.btn-action.btn-action--red(data-user-id=`${u._id}`)
                      span.material-symbols-outlined delete
        
        div.pagination-section
          div.page-info
            | From 
            strong= (page - 1) * 10 + 1
            |  to 
            strong= (page - 1) * 10 + users.length

          if (+page === 1)
            button.btn-action-disabled.btn-action--green.btn-previous(disabled)
              span.material-symbols-outlined arrow_back_ios_new
          else 
            a.btn-action.btn-action--green.btn-previous#btn-pagination(href='users?page=' + (+page - 1))
              span.material-symbols-outlined  arrow_back_ios_new

          if (+page === totalPages)
            button.btn-action-disabled.btn-action--green.btn-next(disabled)
              span.material-symbols-outlined arrow_forward_ios
          else 
            a.btn-action.btn-action--green.btn-next#btn-pagination(href='users?page=' + (+page + 1))
              span.material-symbols-outlined arrow_forward_ios

          div.page-info
            | Page 
            strong= page 
            |  of 
            strong= totalPages
        

