extends base
//- include ./admin/_modal

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          if (user.role === 'user')
            +navItem('/my-tours', 'My bookings', 'briefcase')
            +navItem('/my-reviews', 'My reviews', 'star', true)


      .user-view__content
        .user-view__form-container(style="text-align:center;")
          h2.heading-secondary.ma-bt-md Edit review

        .review-card
            .div
                h2.heading-secondary EDIT YOUR REVIEW?

                .form__group(style='margin-top: 10px')
                    label.form__label(for='rating' style="margin-bottom:-10px") Rating
                    div.rating-section
                        input#star5(type='radio' name='rating' value='5' checked=review.rating==5)
                        label(for='star5') 5 stars
                        input#star4(type='radio' name='rating' value='4' checked=review.rating==4)
                        label(for='star4') 4 stars
                        input#star3(type='radio' name='rating' value='3' checked=review.rating==3)
                        label(for='star3') 3 stars
                        input#star2(type='radio' name='rating' value='2' checked=review.rating==2)
                        label(for='star2') 2 stars 
                        input#star1(type='radio' name='rating' value='1' checked=review.rating==1)
                        label(for='star1') 1 star

                .form__group(style='margin-top: 10px; float: left; width: 100%')
                    label.form__label(for='review') Review
                    textarea#reviewInput.form__input(type='text' placeholder='Enter your review...')=review.review

                a#btn-submit-edit-review.btn.btn--green.span-all-rows(review-id=`${review.id}`) Post your review
        
        //- div.pagination-section
        //-   div.page-info
        //-     | From 
        //-     strong= (page - 1) * 10 + 1
        //-     |  to 
        //-     strong= (page - 1) * 10 + reviews.length

        //-   if (+page === 1)
        //-     button.btn-action-disabled.btn-action--green.btn-previous(disabled)
        //-       span.material-symbols-outlined arrow_back_ios_new
        //-   else 
        //-     a.btn-action.btn-action--green.btn-previous#btn-pagination(href='users?page=' + (+page - 1))
        //-       span.material-symbols-outlined  arrow_back_ios_new

        //-   if (+page === totalPages)
        //-     button.btn-action-disabled.btn-action--green.btn-next(disabled)
        //-       span.material-symbols-outlined arrow_forward_ios
        //-   else 
        //-     a.btn-action.btn-action--green.btn-next#btn-pagination(href='users?page=' + (+page + 1))
        //-       span.material-symbols-outlined arrow_forward_ios

        //-   div.page-info
        //-     | Page 
        //-     strong= page 
        //-     |  of 
        //-     strong= totalPages