extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          if (user.role === 'user')
            +navItem('/my-tours', 'My bookings', 'briefcase', true)
            +navItem('my-reviews', 'My reviews', 'star')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('/admin/users', 'Manage users', 'users')
              +navItem('/admin/reviews', 'Manage reviews', 'star')
              +navItem('/admin/bookings', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container(style="text-align:center;")
          h2.heading-secondary.ma-bt-md Review List

        //- .table__container
        table.content__table
          thead
              tr
                th(style="width: 30%").cell-center Tour
                th(style="width: 15%;").cell-center Start Date
                th(style="width: 10%;").cell-center Price
                th(style="width: 15%;").cell-center Details
          tbody
              each tour in tours 
                if tour.startDates[0]
                  tr
                    td.cell-center=tour.name
                    td.cell-center= moment(`${tour.startDates[0]}`).format('DD-MM-YYYY')
                    td.cell-center.cell-price=`$${tour.price}`
                    td.cell-center.action-container
                      a.btn-action.btn-action--green(href=`/tour/${tour.slug}`)
                           span.material-symbols-outlined visibility
        
        //- div.pagination-section
        //-   div.page-info
        //-     | From 
        //-     strong= (page - 1) * 10 + 1
        //-     |  to 
        //-     strong= (page - 1) * 10 + reviews.length

        //-   if (+page === 1)
        //-     button.btn-action-disabled.btn-action--green.btn-previous(disabled)
        //-       span.material-symbols-outlined arrow_back_ios_new
        //-   else 
        //-     a.btn-action.btn-action--green.btn-previous#btn-pagination(href='users?page=' + (+page - 1))
        //-       span.material-symbols-outlined  arrow_back_ios_new

        //-   if (+page === totalPages)
        //-     button.btn-action-disabled.btn-action--green.btn-next(disabled)
        //-       span.material-symbols-outlined arrow_forward_ios
        //-   else 
        //-     a.btn-action.btn-action--green.btn-next#btn-pagination(href='users?page=' + (+page + 1))
        //-       span.material-symbols-outlined arrow_forward_ios

        //-   div.page-info
        //-     | Page 
        //-     strong= page 
        //-     |  of 
        //-     strong= totalPages