extends base
//- include ./admin/_modal

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings', true)
          +navItem('/my-likes', 'Likes', 'heart')
          if (user.role === 'user')
            +navItem('/my-tours', 'My bookings', 'briefcase')
            +navItem('/my-reviews', 'My reviews', 'star', true)
          if (user.role === 'admin')
            +navItem('/admin-panel', 'Admin Panel', 'users')

      .user-view__content
        .user-view__form-container(style="text-align:center;")
          h2.heading-secondary.ma-bt-md My reviews

        //- .table__container
        table.content__table
            thead
                tr
                    th(style="width: 15%;").cell-center Date
                    th(style="width: 25%").cell-center Review
                    th(style="width: 15%").cell-center Rating
                    th(style="width: 20%;").cell-center Tour
                    th(style="width: 10%;").cell-center Action
                tbody
                    each review in reviews
                      if review.user && review.tour
                        tr
                        td.cell-center= moment(`${review.createdAt}`).format('DD-MM-YYYY HH:mm')
                        td=review.review
                        td.cell-center
                            each star in [1, 2, 3, 4, 5]
                              svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                                use(xlink:href='/img/icons.svg#icon-star')
                        td.cell-center=review.tour.name
                        td.cell-center.action-container
                          a.btn-action.btn-action--green(href=`/my-reviews/${review.id}/edit`)
                           span.material-symbols-outlined edit
                            //- a.btn-delete-user.btn-action.btn-action--red(href=`#delete-${review.id}`)
                            //-     span.material-symbols-outlined delete
                            //- +modal('review', `${review.id}`)
        
        //- div.pagination-section
        //-   div.page-info
        //-     | From 
        //-     strong= (page - 1) * 10 + 1
        //-     |  to 
        //-     strong= (page - 1) * 10 + reviews.length

        //-   if (+page === 1)
        //-     button.btn-action-disabled.btn-action--green.btn-previous(disabled)
        //-       span.material-symbols-outlined arrow_back_ios_new
        //-   else 
        //-     a.btn-action.btn-action--green.btn-previous#btn-pagination(href='users?page=' + (+page - 1))
        //-       span.material-symbols-outlined  arrow_back_ios_new

        //-   if (+page === totalPages)
        //-     button.btn-action-disabled.btn-action--green.btn-next(disabled)
        //-       span.material-symbols-outlined arrow_forward_ios
        //-   else 
        //-     a.btn-action.btn-action--green.btn-next#btn-pagination(href='users?page=' + (+page + 1))
        //-       span.material-symbols-outlined arrow_forward_ios

        //-   div.page-info
        //-     | Page 
        //-     strong= page 
        //-     |  of 
        //-     strong= totalPages